.tab {
    padding: 0 1rem;
}

.tab__nav {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tab__nav-item {
    background-color: gray;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2rem;
    padding: .5rem .75rem;
    text-transform: uppercase;
    transition: all .3s ease;
    margin-right: 16px;
}

.tab__nav-item:hover {
    background-color: #ffb400;
    cursor: pointer;
}

.tab__panel {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card:first-child {
    animation-delay: .1666666667s;
}

.portfolio-card {
    animation: fade-right .3s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    border-radius: 4px;
    /* opacity: 0; */
    /* overflow: hidden; */
    position: relative;
    width: calc(33.33333% - 20px);
}

.portfolio-card .bg-wrap {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 62.5%;
    width: 100%;
}

.portfolio-card h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -30%);
    transition: opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease;
    transition: opacity .5s ease, visibility .5s ease, transform .5s ease;
    transition: opacity .5s ease, visibility .5s ease, transform .5s ease, -webkit-transform .5s ease;
    visibility: hidden;
    /* z-index: 2; */
}

.portfolio-card:after {
    background-color: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .5s ease, visibility .5s ease;
    visibility: hidden;
    /* z-index: 1; */
}