.projectList{
    padding: 0 1rem;
}

.project-nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-nav a{
    background-color: grey;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2rem;
    padding: .5rem .75rem;
    text-transform: uppercase;
    transition: all .3s ease;
}


.project-list-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-list-container a{
    width: calc(33.3333333% - 20px);
}